header {
  margin: 0%;
}

body {
  margin: 0%;
}
p {
  margin: 0 0 0 0;
}

:root {
  --white: #ffffff;
  --charcoal-grey: #3d3d3f;
  --dark-grey: #202124;
  --white-two: #f6f6f6;
  --white-three: #ededed;
  --white-four: #d4d3d3;
  --pea-green: #82bf11;
  --greyish: #acacac;
  --strawberry: #f63f45;
  --greyish-two: #b7b7b7;
  --pale-orange: #ffa15f;
  --pumpkin-orange: #ff7413;
  --bright-orange: #ff6900;
  --apricot: #ffc371;
  --greyish-brown: #4d4d4d;
}
