p {
  margin: 0 0 0 0;
}

.cart-box {
  font-family: "Montserrat", sans-serif;

  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  font-size: 12px;
}
.cart-small-box {
  height: 80px;
  /* width: 100%; */
  width: 270px;
  border-bottom: solid 1px lightgray;
  /* display: block; */
  /* white-space: nowrap; */
  display: flex;
}
/* .cart-small-box * {
  display: block;
} */
.cart-info {
  height: 54px;
  width: 161px;
  /* flex-wrap: wrap; */
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* white-space: pre; */
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.cart-info-name {
  /* width: inherit; */
  /* padding: 10px; */
  max-width: 100%;
  height: 32px;
  /* text-overflow:  */
  font-weight: 600;
  color: var(--greyish-brown);
  /* display: flex; */
  margin-bottom: 8px;
}
.cart-info-name > a {
  color: var(--dark-grey);
}

.view-cart {
  /* width: 70px; */
  height: 69px;
  width: 270px;

  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 14px;
}
.view-cart > p {
  display: flex;
  /* position: relative; */
  justify-content: space-around;
  align-items: center;
  /* justify-content: center; */
}
.view-cart > p > a {
  color: var(--pale-orange);
  font-size: 14px;
  font-weight: bold;
}
.cart-img > img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  /* margin: 10px 20px 10px 7px; */
}
.cart-img {
  width: 60px;
  height: 60px;
  margin: 10px 20px 10px 7px;
}

.cart-info-detail {
  display: flex;
  justify-content: space-between;
}
