.shop-area {
  margin: 37px 130px 53px 130px;
  font-family: "Montserrat", sans-serif;
}

.my-bag {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark-grey);
  margin-bottom: 36px;
}

.buy-product {
  /* white-space: nowrap; */
  position: relative;
  display: flex;
  justify-content: space-between;
}
/* .buy-product * {
  display: block;
} */

.buy-detail {
  width: 781px;
  /* max-height: 554 */
  /* height: 554px; */
  /* background-color: aqua; */
}
.bag-title {
  display: flex;
  justify-content: space-between;
}

.product-discription {
  display: flex;
  justify-content: space-between;
  height: 113px;
  /* background-color: aliceblue; */
  align-items: center;
  font-weight: 600;
}

.buy-data {
  width: 209px;
  display: flex;
  justify-content: space-between;
}
.buy-data-img > img {
  width: 80px;
  height: 113px;
  object-fit: cover;
  margin-right: 20px;
}
.buy-data-container {
  /* display: flex;
  justify-content: space-between; */
}
.buy-data-name {
  font-size: 14px;
  height: 97px;
}
.buy-data-name > a {
  color: var(--dark-grey);
}

.buy-data-button {
  font-size: 12px;
  font-weight: 500;
}
.buy-data-button > span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.buy-data-button > span > a {
  color: var(--dark-grey);
}

.buy-color {
  width: 40px;
}
.buy-size {
  width: 30px;
  padding-left: 5px;
}
.buy-quantity {
  width: 108px;
  height: 42px;
  border: solid 1px var(--white-four);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  /* margin: 0 0 0 24px; */
}
.buy-quantity > img {
  cursor: pointer;
}
.buy-price {
  width: 61px;
}

.price-detail {
  width: 330px;
  /* height: 552px;
  background-color: bisque; */
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-grey);
}

.shop-title {
  font-size: 14px;
  font-weight: bold;
  color: var(--dark-grey);
  display: block;
  /* margin-bottom: 10px; */
}
.shop-checkout-detail {
  width: 330px;
  height: 148px;
  background-color: #f9f9f9;
  font-size: 14px;
  /* position: relative; */
  display: block;
}
.shop-detail-small {
  padding: 32px 30px 24px 30px;
  top: 32px;
  /* position: relative; */
}
.shop-small {
  display: flex;
  justify-content: space-between;
}
h5 {
  font-size: 14px;
  margin: 0 0 0 0;
}

.checkout-button {
  margin-top: 13px;
  width: 330px;
  height: 49px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  background-color: #ff5f6d;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.checkout-button-disable {
  margin-top: 13px;
  width: 330px;
  height: 49px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--white-four);
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.checkout-button-disable:hover {
  cursor: not-allowed;
}
