a {
  color: var(--greyish-two);
  text-emphasis: none;
  text-decoration: none;
}

.footer {
  display: block;
  height: 185px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.08), 0 -1px 4px 0 rgba(0, 0, 0, 0.08);
}

.upper_footer {
  /* display: block; */
  white-space: nowrap;
  height: 120.7px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upper_footer * {
  display: inline;
}
.upper1 {
  /* position: absolute; */
  /* text-align: center; */

  /* width: 8em; */
  display: flex;
  justify-content: space-between;
  padding-left: 132px;
  padding-right: 132px;
  width: 100%;
}
.list {
  font-size: 14px;
  /* line-height: 1.57; */
  color: var(--greyish-two);
  font-family: "Montserrat", sans-serif;
}

.rulerclass {
  padding-left: 130px;
  padding-right: 132px;
}

.ruler {
  margin: 0%;
  opacity: 0.5;
  color: var(--greyish-two);
}

.lower-footer {
  /* display: block; */
  white-space: nowrap;
  height: 63px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lower-footer * {
  display: inline;
}
.lower1 {
  /* position: absolute; */
  /* text-align: center; */

  /* width: 8em; */
  display: flex;
  justify-content: space-between;
  padding-left: 132px;
  padding-right: 132px;
  width: 100%;
  /* padding-top: 13.2px; */
}
