.header1 {
  display: block;
  /* width: 1440px; */
  height: 115px;
  object-fit: contain;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: var(--white);
}

.upper-header {
  /* display: block; */
  /* white-space: nowrap; */
  height: 69px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upper-header * {
  display: inline;
}

.upper1 {
  /* position: absolute; */
  /* text-align: center; */

  /* width: 8em; */
  display: flex;
  justify-content: space-between;
  padding-left: 132px;
  padding-right: 132px;
  width: 100%;
  /* padding-top: 14.5px; */
}

.ruler1 {
  margin: 0%;
  color: #ececec;
}

.search {
  width: 181px;
  height: 35px;
  border-radius: 17px;
  border: solid 1px var(--greyish-two);
  padding-left: 15px;
}
::placeholder {
  width: 48px;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #cccccc;
  /* padding-left: 15px; */
  padding: 0 0 0 0;
}

.register1 {
  /* width: 59px;
  height: 22px; */
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--greyish-brown);
  padding-right: 24px;
  margin: 0%;
  cursor: pointer;
}
.login {
  width: 120px;
  height: 35px;
  border-radius: 100px;
  border: solid 1px var(--pale-orange);
  background: transparent;
  color: #ff7e24;
  font-weight: 700;
}

.lower-header {
  /* display: block; */
  white-space: nowrap;
  /* height: 49px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lower-header * {
  display: inline;
}

.lower11 {
  /* position: absolute; */
  /* text-align: center; */

  /* width: 8em; */
  /* margin: 0%; */
  display: flex;
  justify-content: center;
  /* padding-left: 132px;
  padding-right: 132px; */
  padding: 0%;
  width: 100%;
  /* padding-top: 14.5px; */
}

.dropdownn {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--dark-grey);
  display: flex;
  align-items: center;
}

.dropdownn > p {
  margin: 0%;
}

.arrow1 {
  cursor: pointer;
  /* object-fit: contain; */
}

.login-tittle {
  width: 105px;
  height: 42px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
  margin: 6px 0 0 225.5px;
}
.login-tittle2 {
  width: 284px;
  height: 42px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
  margin: 6px 0 0 136px;
}
.mail-pass {
  /* width: 45px; */
  height: 18px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark-grey);
  margin-left: 80px;
}
.login-box {
  width: 395px;
  height: 46px;
  border: solid 1px var(--greyish-two);
  background-color: var(--white-two);
  border: none;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--dark-grey);
  font-size: 14px;
  margin: 8px 0 0 80px;
  padding-left: 24px;
}

.login-footer {
  white-space: nowrap;
  margin: 26px 0 0 80px;
}

.login-footer * {
  display: inline;
}

.close-log {
  margin: 15px 0 0 516px;
  cursor: pointer;
}
.login-button {
  width: 395px;
  height: 49px;
  margin: 46px 0 0 80px;
  background-color: var(--pale-orange);
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  border: none;
}
.checkbox-login {
  width: 18px;
  height: 18px;
  color: red;
  /* padding-right: 6px; */
}

.remem {
  width: 152px;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--greyish-brown);
  padding: 0 51px 0 6px;
}
.forgot {
  width: 166px;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: var(--greyish-brown);
  cursor: pointer;
}
.no-acc {
  white-space: nowrap;
  margin: 23px 0 0 162px;
}

.no-acc * {
  display: inline;
}

.dont-have {
  width: 168px;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--greyish-brown);
}

.regist {
  width: 62px;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--pumpkin-orange);
  text-decoration: underline;
  padding-left: 5.5px;
  cursor: pointer;
}

.forgot-discript {
  width: 397px;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: center;
  color: #808080;
  margin: 7px 0 0 79px;
}

.submit-button {
  width: 395px;
  height: 50px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--pale-orange);
  border: none;
  margin: 35px 0 0 80px;
  font-family: "Montserrat", sans-serif;
  color: var(--white);
}

.terms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.agree {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--greyish-brown);
  margin: 0 0 0 0;
}
.highlight-term {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--pumpkin-orange);
  text-decoration: underline;
  margin: 0 0 0 0;
  cursor: pointer;
}

.arrow #menu-ladies {
  display: none;
  position: absolute;
  top: 25px;
  left: 450px;
  z-index: 5;
}

.arrow:hover #menu-ladies {
  display: block;
}

.cart #cart-list {
  display: none;
  /* width: 270px; */
  /* height: 310px; */
  /* height: 100%; */
  position: absolute;
  right: 130px;
  z-index: 5;
}

.cart:hover #cart-list {
  display: block;
  overflow: auto;
  background-color: #fbfbfb;
  box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
  border: solid 0.5px #eaeaea;
}

.profile-minipic {
  width: 28px;
  height: 28px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border: none;
  object-fit: cover;
  border-radius: 50%;
}
.profile-ava #ava-dropdown {
  display: none;
}

.profile-ava:hover #ava-dropdown {
  display: block;
  width: 181px;
  height: 83px;
  box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
  border: solid 0.5px #eaeaea;
  background-color: #fbfbfb;
  position: absolute;
  z-index: 6;
  right: 170px;
  color: var(--greyish-brown);
}

.ava-profile {
  display: block;
  height: 36px;
  border-bottom: solid 1px lightgray;
  margin: 7px 0 0 0px;
  padding-left: 13px;
}
.ava-profile > a {
  color: var(--greyish-brown);
}
.ava-logout {
  display: block;
  height: 36px;
  /* border-bottom: solid 1px lightgray; */
  margin: 6px 0 0 0px;
  padding-left: 13px;
  cursor: pointer;
}
.ava-logout:hover {
  text-decoration: underline;
}
