.cover {
  /* width: 1180px; */
  height: 513px;
  padding-top: 37px;
  display: flex;
  justify-content: center;
  /* padding-left: 130px;
  padding-bottom: 19px;
  padding-right: 132px; */
  margin-left: 132px;
  margin-right: 132px;
}
.cover > img {
  max-width: 100%;
  /* max-height: 100%; */
  object-fit: cover;
}

.cover-div {
  height: 405px;
  width: 280px;
  position: relative;
}

.cover-small {
  /* max-width: 100%; */
  height: 405px;
  width: 280px;
  object-fit: cover;
}

.cover-pic {
  padding-top: 19px;
  white-space: nowrap;
  margin-left: 132px;
  margin-right: 132px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 37px;
}

.cover-pic * {
  display: inline;
}

.outfit {
  width: 545px;
  height: 45px;
  font-family: "Domine", serif;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  letter-spacing: normal;
  text-align: right;
  color: var(--white);
  /* color: black; */
  position: absolute;
  /* z-index: 5; */
  top: 223px;
  right: 213px;
}

.shopnow {
  width: 140px;
  height: 40px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--pale-orange);
  position: absolute;

  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

.discript {
  width: 53px;
  height: 32px;
  font-family: "Domine", serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  /* color: black; */
  position: absolute;
}

.cover-hr {
  margin: 0%;
  width: 215px;
  height: 0.1px;
  border: solid 1px #eaeaea;
  position: absolute;
  top: 327px;
  left: 32px;
}
