.admin-login {
  background: url("/img/admin-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.admin-form {
  width: 380px;
  height: 424px;
  opacity: 0.8;
  border-radius: 2px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.08);
  background-color: rgba(61, 61, 63, 0.8);
}

.admin-login-title {
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: var(--pale-orange);
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 32px;
}

.admin-input {
  width: 316px;
  height: 48px;
  border-radius: 2px;
  border: solid 1px var(--white-three);
  background-color: var(--white);
  margin-bottom: 20px;
  opacity: 1;
}

.admin-email {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--greyish);
  margin-bottom: 8px;
  opacity: 1;
}

.admin-login-button {
  width: 316px;
  height: 48px;
  border-radius: 2px;
  background-color: var(--pale-orange);
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  opacity: 1;
  padding-left: 16px;
}

.admin-input {
  padding-left: 16px;
}

.admin-forgot {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
  opacity: 1;
  margin-top: 32px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.admin-forgot:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-logo{
  position: absolute;
  z-index: 3;
  top: 32px;
  left: 44px;
}