.ladies-menu {
  /* white-space: nowrap; */

  /* justify-content: center; */
  width: 620px;
  height: 55px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: solid 0.5px #eaeaea;
  background-color: #fbfbfb;
  position: absolute;

  /* z-index: 7; */
}

.ladies > a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
  margin: 0 0 0 0;
  padding-right: 37.5px;
  cursor: pointer;
}

.ladies {
  position: absolute;
  top: 16.5px;
  left: 20px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
