@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.product-detail {
  height: 537px;

  /* width: 100%; */
  margin: 32px 130px 32px 130px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.small-images {
  width: 80px;
  /* background-color: antiquewhite; */
}

.small-images > img {
  width: 80px;
  height: 116px;
  object-fit: cover;
  margin: 0 0 24.33px 0;
  cursor: pointer;
}
.small-images > img:hover {
  transform: scale(3);
}

.small-images > img:last-of-type {
  margin-bottom: 0;
}

.big-image {
  width: 379px;
  /* background-color: aqua; */
}
.big-image > img {
  width: 379px;
  height: 537px;
  object-fit: cover;
}

.smaller-details {
  width: 489px;
  /* background-color: bisque; */
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--dark-grey);
}
.smaller-details > p {
  width: 429px;
}
.detail-title {
  font-weight: 600;
}
.detail-price {
  font-weight: 300;
}

.suggestion {
  width: 80px;
  /* background-color: tomato; */
}
.suggestion > img {
  width: 80px;
  height: 114px;
  object-fit: cover;
  margin: 0 0 8px 0;
}
.suggestion > div {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--dark-grey);
  margin: 0 0 13px 0;
}
.quanlity {
  font-size: 12px;
  display: flex;
  justify-content: start;
  justify-items: center;
  align-items: center;
  margin: 28px 0 30px 0;
  font-weight: 600;
}

.quanlity > div {
  width: 108px;
  height: 42px;
  border: solid 1px var(--white-four);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin: 0 0 0 24px;
  /* background-color: aquamarine */
}
.quanlity > div > img {
  margin: 0 9px 0 9px;
  cursor: pointer;
}

.add-to-cart {
  width: 429px;
  height: 50px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  background-color: #5f6dff;
  border: none;
  font-size: 15px;
  color: white;
  font-weight: 600;
}

.smaller-details > hr {
  width: 429px;
  color: var(--white-four);
  margin: 26px 0 24.9px 0;
}
p {
  margin: 0 0 0 0;
}

button {
  font-family: "Montserrat", sans-serif;
}
.review-line {
  display: flex;
  justify-content: space-between;
  margin: 0 131px 0 131px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark-grey);
  align-content: center;
  align-items: center;
}
.review-line > div > hr {
  margin: 0 0 0 0;
}

.no-review {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: var(--greyish-two);
  margin: 80px 0 80px 0;
}

.also-like {
  margin: 21px 130px 66px 130px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--greyish-brown);
  cursor: pointer;
  font-weight: 600;
}
.also-like > div > img {
  width: 130px;
  height: 194.2px;
  object-fit: cover;
}
.also-like > div > p:hover {
  text-decoration: underline;
}

.color-button {
  width: 30px;
  height: 30px;
  border: solid 1px lightgrey;
  border-radius: 50%;
  margin-right: 18px;
}

.color-button:hover {
  transform: scale(1.3);
}
