.page-route {
  margin: 40px 0 0 0;
  width: 100%;
  align-items: center;
  align-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
}

.product-header {
  white-space: nowrap;
  margin: 40px 130px 0 129px;
}
.product-header * {
  display: inline;
}

.category {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark-grey);
  margin: 0 128px 0 0;
}
.sort-tag {
  width: 179px;
  height: 32px;
  border: solid 1px var(--greyish-two);
  background-color: var(--white-two);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: normal;
}
.sort-by {
  border: solid 1px lightgray;
  background-color: var(--white-two);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: normal;
  color: var(--greyish-brown);
  padding: 7px 0 7px 15px;
}
.sort-by #sort-dropdown {
  display: none;
  position: absolute;
  margin: 0 687px 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: normal;
  color: var(--greyish-brown);
}
.sort-by:hover #sort-dropdown {
  display: block;
}
.sort-list {
  width: 167px;
  height: 139px;
  box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
  border: solid 0.5px #eaeaea;
  background-color: #fbfbfb;
  display: block;
  position: absolute;
  z-index: 5;
  left: 201px;
  padding: 5px 0 0 0;
}
.sort-list > div {
  cursor: pointer;

  margin: 0 0 0 13px;
}
.sort-list > hr {
  width: 167px;
  height: 1px;
  background-color: #ececec;
  margin: 6.7px 0 6.3px 0;
  border: none;
  display: block;
}

.pagination {
  /* margin: 0 0 0 687px; */
  float: right;
  margin-right: 25px;
}

.filters {
  width: 180px;
  /* position: absolute;
  z-index: 6; */
  /* margin: 29px 0 0 130px; */
  margin-top: 29px;
  margin-left: 130px;
  margin-right: 0% !important;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--dark-grey);

  /* display: inline-block; */
}

.filters > div {
  margin: 18px 0 18px 0;
  cursor: pointer;
}
.clothes {
  width: 1058px;
  margin: 13px 0 0 20px;
  /* background-color: blanchedalmond; */

  /* display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-between; */

  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-row-gap: 20px;
}
.list-body {
  flex-wrap: nowrap;
  display: flex;
}
.filter-size #size-drop {
  display: none;
  /* position: absolute; */
}
.filter-size:hover #size-drop {
  display: block;
}

.filter-color #color-drop {
  display: none;
  /* position: absolute; */
}
.filter-color:hover #color-drop {
  display: block;
}

.filter-brand #brand-drop {
  display: none;
  /* position: absolute; */
}
.filter-brand:hover #brand-drop {
  display: block;
}

.filter-price #price-drop {
  display: none;
  /* position: absolute; */
}
.filter-price:hover #price-drop {
  display: block;
}

.filter-available #available-drop {
  display: none;
  /* position: absolute; */
}
.filter-available:hover #available-drop {
  display: block;
}

.size-button {
  width: 40px;
  height: 40px;
  border: solid 1px #808080;
  background: transparent;
  font-size: 14px;
}
.size-button:hover {
  border: none;
  background-color: var(--pale-orange);
  color: white;
}

.brand-type {
  width: 180px;
  height: 35px;
  background-color: #fafafa;
  margin: 0 0 3px 0;
}
.brand-type * {
  display: inline-block;
  margin: 7px 0 6px 10px;
}

.polaroid {
  /* width: 80%; */
  height: 345px;
  width: 180px;
  background-color: white;
  cursor: pointer;

  /* margin-bottom: 25px; */
}

.polaroid > img {
  width: 180px;
  height: 267px;
  /* height: auto; */
  object-fit: cover;
}
.container {
  text-align: center;
  /* padding: 10px 20px; */
  padding: 0%;
  height: 78px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark-grey);
  text-align: left;
}
.container > p {
  margin: 10px 0 0 0;
}

.container > p > a {
  margin: 10px 0 0 0;
  color: var(--dark-grey);
}

.container > p:hover {
  text-decoration: underline;
}

.paginate-number {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
}


