.profile {
  width: 100%;
  height: 712px;
}

.account {
  margin-top: 37px;
  margin-left: 130px;
  white-space: nowrap;
}

.account * {
  display: inline;
}

.my-account {
  width: 146px;
  height: 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--dark-grey);
  padding-right: 104px;
}

.information {
  padding-right: 317px;
  width: 88px;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--dark-grey);
}

.edit-info {
  width: 25px;
  height: 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--greyish-brown);
}

.acc-setting {
  position: absolute;
  z-index: 2;
  margin-top: 33px;
  margin-left: 130px;
  width: 114px;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  /* color: var(--greyish-brown); */
  cursor: pointer;
}
.change-pass {
  position: absolute;
  z-index: 2;
  margin-top: 73px;
  margin-left: 130px;
  width: 125px;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: -0.1px;
  /* color: var(--greyish-brown); */
  cursor: pointer;
}
.display-info {
  width: 430px;
  height: 191px;
  margin-top: 12px;
  margin-left: 380px;
  position: absolute;
  z-index: 2;
  background-color: #f9f9f9;
}
.tittle {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--dark-grey);
  margin-left: 50px;
  margin-bottom: 0;
}
.tittle2 {
  /* width: 39px;
  height: 18px; */
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark-grey);
  margin-left: 50px;
  margin-bottom: 0;
}

.user-info {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: -0.1px;
  color: var(--greyish-brown);
  margin: 5px 0 0 50px;
}

.change-info {
  position: relative;
  width: 481px;
  height: 303px;
  background-color: #f9f9f9;
  margin-left: 380px;
  margin-top: 13px;
  position: absolute;
  z-index: 4;
}

.input-box {
  width: 380px;
  height: 46px;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  margin-left: 50px;
  /* margin-right: 50px; */
  margin-top: 8px;
  padding-left: 23.1px;
  border: none;
}

::placeholder {
  /* width: 129px;
  height: 22px; */
  padding-left: 0;
  opacity: 0.3;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(--greyish-brown);
}

.cancel-butt {
  width: 49px;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
  margin-top: 8px;
  margin-left: 226px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.save-butt {
  width: 120px;
  height: 35px;
  opacity: 0.7;
  background-color: var(--white-four);
  margin-top: 30px;
  margin-left: 35px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  border: none;
}

.edit-pass {
  margin-left: 380px;
  width: 481px;
  height: 401px;
  background-color: #f9f9f9;
  position: absolute;
  z-index: 4;
  margin-top: 13px;
}
